@model IEnumerable<Wallet>

    <h2>Which company's wallet's do you want to look at</h2>
<div style="display: block">
     @*<a href="/Wallet/company">Company wallet</a>
     <a href="/Wallet/personal">person wallet</a>*@
 </div>